* {
  border: 0 solid currentColor;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Graphie', sans-serif;
  line-height: 1.5;
  min-width: 375px;
}

menu {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}