* {
  border: 0 solid currentColor;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Graphie, sans-serif;
  line-height: 1.5;
  min-width: 375px;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

menu {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input {
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  outline-color: currentColor;
}

input[type=number] {
  appearance: textfield;
  border-radius: 9999px;
  border-width: 1px;
  font-size: 0.875rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

input[type=checkbox] {
  appearance: none;
  border-radius: 0.25rem;
  border-width: 1px;
  height: 0.75rem;
  position: relative;
  width: 0.75rem;
}

input[type=checkbox]:checked {
  background-image: url(/icons/input-check.svg);
  background-size: contain;
}