---
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Carousel from '@/components/Carousel'
import Form from '@/components/Form.astro'
import Steps from '@/components/Steps.astro'
import Player from '@/components/Player.astro'

interface Data {
  formContent: string
  steps: Steps
}

const landings = db.get<string[]>('landings')!
const data = landings.find(([path]) => path === Astro.params.id)

if (!data) return new Response(null, { status: 404, statusText: 'Not found' })

const { formContent, steps } = db.get<Data>('inicio')!
---

<SiteLayout sticky>
  <div class="relative overflow-hidden">
    <Carousel slides={[[data[1], data[2]]]} client:media="(min-width: 640px)" />
    <Form content={formContent} />
  </div>
  <Steps {...steps} />
  <section class="my-24 text-center">
    <Player />
    <p
      class:list={[
        'mt-24 mx-5 font-light text-center leading-tight sm:mx-10',
        'lg:max-w-[55rem] lg:mx-auto'
      ]}
    >
      {data[3]}
    </p>
  </section>
</SiteLayout>
