.header {
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  @media (width >= 640px) {
    padding: 28px 40px;
  }

  @media (1024px <= width < 1280px) {
    svg {
      height: 24px;
      width: 24px;
    }
  }

  @media (width >= 1280px) {
    padding-inline: 60px;
  }

  &.sticky {
    background: inherit;
    position: sticky;

    .container {
      animation: reset-colors linear both;
      animation-range: 0 48px;
      animation-timeline: scroll();
      background-color: rgb(var(--color-neutral));
      color: rgb(var(--color-primary));
    }
  }

  a:hover:not(.active) {
    opacity: 0.84;
  }
}

.container {
  align-items: center;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;

  @media (width >= 640px) {
    padding-inline: 40px;
  }

  @media (width >= 1024px) {
    button {
      display: none;
    }
  }

  img {
    height: 40px;
    width: auto;

    @media (640px <= width < 1024px), (width >= 1280px) {
      height: 48px;
    }
  }
}

.menu {
  display: flex;
  font-size: 14px;
  list-style: none;

  @media (width >= 1024px) {
    column-gap: 2em;
  }

  @media (width >= 1280px) {
    font-size: 16px;
  }

  @media (width < 1024px) {
    background: linear-gradient(
        108deg,
        #b84df5 -18.5%,
        rgb(var(--color-quaternary)) 34%,
        #060247 88.5%
      )
      fixed;
    color: rgb(var(--color-neutral));
    display: none;
    flex-direction: column;
    font-size: 18px;
    inset-inline: 0;
    padding-block: 20px 24px;
    position: absolute;
    row-gap: 16px;
    text-align: center;
    top: 100%;
  }

  a.active {
    color: rgb(var(--color-tertiary));
    font-weight: bold;
  }
}

@keyframes reset-colors {
  to {
    background-color: transparent;
    color: rgb(var(--color-neutral));
  }
}
