---
import IconMenu from '../IconMenu.astro'

const { pathname } = Astro.url

const pages = [
  ['/admin', 'En La Mano'],
  ['/admin/inicio', 'Inicio'],
  ['/admin/promociones', 'Promociones'],
  ['/admin/quienes-somos', 'Quiénes somos']
]
---

<button class="absolute mt-2 ml-3 p-2 sm:hidden" id="menu-button">
  <IconMenu />
</button>
<aside
  class:list={[
    'fixed inset-y-0 z-10 w-60 px-3 py-4 bg-tertiary font-semibold',
    'transition-transform -translate-x-full sm:translate-x-0'
  ]}
>
  <nav class="space-y-2">
    {
      pages.map(([path, label]) => (
        <a
          class:list={[
            'flex p-2 rounded-lg transition-colors duration-75',
            path === pathname ? 'bg-secondary' : 'hover:bg-primary'
          ]}
          href={path}
        >
          {label}
        </a>
      ))
    }
  </nav>
  <div class="mt-4 pt-4 border-t border-secondary">
    <button class="m-2 transition-colors duration-75 hover:text-warning">
      Cerrar Sesión
    </button>
  </div>
</aside>

<script>
  document.getElementById('menu-button')?.addEventListener('click', event => {
    event.stopPropagation()

    const aside = document.querySelector('aside')

    aside?.classList.remove('-translate-x-full')

    function toggle({ target }: MouseEvent) {
      if (!aside?.contains(target as Node)) {
        aside?.classList.add('-translate-x-full')

        document.removeEventListener('click', toggle)
      }
    }

    document.addEventListener('click', toggle)
  })
</script>
