---
import Image from '@/components/Image.astro'

interface Props {
  image: string
}

const { image } = Astro.props
---

<article class="max-w-md flex flex-col mb-12">
  <div class="w-full relative">
    <Image
    class="mb-4 h-[16.75rem] object-cover rounded-3xl"
    src={`/assets/${image}`}
  />
  </div>
  
  <a
    class:list={[
      'group relative h-12 grid place-items-center border',
      'border-neutral rounded-full font-light text-2xl',
      'transition-colors hover:bg-neutral hover:text-primary'
    ]}
    href={`/promociones/${image.slice(0, -5)}`}
  >
    Ver promo
    <figure
      class:list={[
        'absolute right-2.5 size-7 grid place-items-center bg-neutral',
        'rounded-full'
      ]}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="fill-none stroke-[1.25] stroke-tertiary"
        width="17"
        height="12"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M16.167 6H.833M11.375 10.583S16.167 7.208 16.167 6c0-1.208-4.792-4.583-4.792-4.583" />
      </svg>
    </figure>
  </a>

</article>
