---
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Hero from '@/components/Hero.astro'
import Image from '@/components/Image.astro'
import Input from '@/components/Input.astro'
import TextArea from '@/components/TextArea.astro'
import Button from '@/components/Button.astro'

const socialMedia = db.get<SocialMedia>('social-media')

const data = [
  ['pin-alt', 'Av Italia 6878 Montevideo, Uruguay'],
  ['mail-alt', 'contacto@enlamano.com.uy'],
  ['mobile-alt', '(+598) 091 866 454'],
  ['phone-alt', '(+598) 2605 4699'],
  ['instagram', `@${socialMedia?.instagram}`],
  ['facebook', `@${socialMedia?.facebook}`]
]
---

<SiteLayout>
  <Hero image="hero-contacto.webp" label="Contacto" />
  <section
    class:list={[
      'mt-18 mb-20 flex flex-col gap-14 px-5 sm:px-10 lg:px-20',
      'xl:flex-row xl:justify-between xl:px-25'
    ]}
  >
    <div>
      <h2 class="mb-6 font-bold text-2xl/none">Encontranos en</h2>
      <div class="grid gap-14 sm:grid-cols-2 lg:flex">
        <iframe
          class="w-full rounded-3xl xl:w-[23.25rem]"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21623.47177433411!2d-56.06596720371911!3d-34.88954312420416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f865b407b2a4d%3A0x2ff2989379081c0c!2sAv.%20Italia%206878%2C%2011500%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses-419!2sco!4v1722968333134!5m2!1ses-419!2sco"
          width="371"
          height="396"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ul class="flex flex-col gap-y-7 leading-tight">
          {
            data.map(([icon, label], index) => (
              <li
                class:list={[
                  'grid grid-cols-[20px_1fr] items-center gap-x-3',
                  { 'lg:max-w-56': index === 0 }
                ]}
              >
                <Image class="justify-self-center" src={`/icons/${icon}.svg`} />
                {label}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <form class="p-8 bg-neutral rounded-3xl text-primary xl:w-[21rem]">
      <p class="leading-tight">
        Dejanos un mensaje y nos contactaremos a la brevedad
      </p>
      <div class="my-5 grid gap-y-2.5">
        <Input type="text" placeholder="Nombre y Apellido" />
        <Input type="text" placeholder="Asunto" />
        <Input type="email" placeholder="Email" />
        <Input
          class="text-warning border-warning outline-warning"
          type="number"
          placeholder="Celular"
        />
        <TextArea rows={3} placeholder="Mensaje" />
      </div>
      <Button>Enviar</Button>
    </form>
  </section>
</SiteLayout>
