---
import { actions } from 'astro:actions'
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Carousel from '@/components/Carousel'
import Form from '@/components/Form.astro'
import Steps from '@/components/Steps.astro'
import Player from '@/components/Player.astro'
import Promotions from '@/components/Promotions.astro'

interface Data {
  slides: Slide[]
  formContent: string
  steps: Steps
}

const requestCash = Astro.getActionResult(actions.requestCash)

if (requestCash?.data) {
  const { success, docNumber } = requestCash.data

  return Astro.rewrite(
    new Request(new URL(`./${success ? 'form' : 'result'}`, Astro.url), {
      headers: success ? { 'Doc-Number': docNumber } : { Status: 'rejected' }
    })
  )
}

const confirmRequest = Astro.getActionResult(actions.confirmRequest)

if (confirmRequest?.data) {
  return Astro.rewrite(
    new Request(new URL('./result', Astro.url), {
      headers: { Status: confirmRequest.data.success ? 'accepted' : 'rejected' }
    })
  )
}

const { slides, formContent, steps } = db.get<Data>('inicio')!
---

<SiteLayout sticky>
  <div class="relative overflow-hidden">
    <Carousel slides={slides} client:media="(min-width: 640px)" />
    <Form content={formContent} landing={1} />
  </div>
  <Steps {...steps} />
  <div class="px-5 my-24 sm:px-10">
    <Player />
  </div>
  <section class="mb-28 text-center xl:mb-32">
    <h2 class="mx-5 text-3xl sm:text-[2.5rem]/normal">
      Conocé nuestras <strong class="font-extrabold text-secondary">
        promociones
      </strong>
    </h2>
    <Promotions class="mt-14" limit={3} />
  </section>
</SiteLayout>
