---
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Carousel from '@/components/Carousel'
import Form from '@/components/Form.astro'
import Steps from '@/components/Steps.astro'
import Player from '@/components/Player.astro'
import Promotions from '@/components/Promotions.astro'
import Image from '@/components/Image.astro'

interface Data {
  slides: Slide[]
  formContent: string
  steps: Steps
}

const { slides, formContent, steps } = db.get<Data>('inicio')!
---

<SiteLayout sticky>
  <div class="relative overflow-hidden">
    <Carousel slides={slides} client:media="(min-width: 640px)" />
    <Form content={formContent} />
  </div>
  <Steps {...steps} />
  <div class="px-5 my-24 sm:px-10">
    <Player />
  </div>
  <section class="mb-28 text-center xl:mb-32">
    <h2 class="mx-5 text-3xl sm:text-[2.5rem]/normal">
      Conocé nuestras <strong class="font-extrabold text-secondary">
        promociones
      </strong>
    </h2>
    <Promotions class="mt-14" limit={3} />
  </section>
  <div class="fixed bottom-4 right-5 flex gap-3.5 sm:right-10 xl:right-15">
    <Image class="w-[3.25rem]" src="/images/unit.webp" alt="UNIT" />
    <a
      class="size-[3.25rem] grid place-items-center bg-success rounded-full"
      href="https://wa.me/59891866565"
      target="_blank"
      rel="noreferrer"
    >
      <Image src="/icons/whatsapp.svg" alt="WhatsApp" />
    </a>
  </div>
</SiteLayout>
