---
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'

const content = db.get<string>('politicas-de-seguridad', false)!
---

<SiteLayout>
  <article
    class="py-24 px-5 text-pretty sm:px-10 lg:px-20 xl:px-25"
    set:html={content}
  >
    <h1 class="my-18 font-bold text-center text-4xl">Políticas de Seguridad</h1>
  </article>
</SiteLayout>

<style>
  article {
    p {
      margin-block: 1.25em;
    }

    a {
      color: #c644fd;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        opacity: 0.95;
      }
    }
  }
</style>
