---
import { marked } from 'marked'
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Hero from '@/components/Hero.astro'
import Input from '@/components/Input.astro'
import TextArea from '@/components/TextArea.astro'
import Button from '@/components/Button.astro'

const { description, content } = db.get<ClaimsData>('reclamos')!
---

<SiteLayout>
  <Hero image="hero-reclamos.webp" label="Reclamos" />
  <section class="px-5 sm:px-10">
    <p
      class:list={[
        'my-18 font-light text-center leading-tight text-balance',
        'lg:max-w-[58rem] lg:mx-auto'
      ]}
      set:html={marked.parseInline(description, { breaks: true })}
    />
    <form
      class:list={[
        'max-w-2xl mx-auto mb-[5.75rem] py-8 px-10 bg-neutral rounded-3xl',
        'text-primary'
      ]}
    >
      <h2 class="mb-6">Completá el formulario</h2>
      <div class="grid gap-y-4 gap-x-7 sm:grid-cols-2">
        <Input type="text" placeholder="Nombre" />
        <Input type="text" placeholder="Apellido" />
        <Input type="number" placeholder="Cédula (sin puntos ni guiones)" />
        <Input type="email" placeholder="Email" />
        <Input type="number" placeholder="Celular" />
        <Input type="number" placeholder="Teléfono" />
        <TextArea class="sm:col-span-2" placeholder="Comentarios" />
      </div>
      <Button class="mt-6">Enviar reclamo</Button>
    </form>
    <article
      class:list={[
        'mb-28 font-light text-center leading-tight [&_p]:my-[1em]',
        'lg:max-w-[58rem] lg:mx-auto'
      ]}
      set:html={marked.parse(content)}
    />
  </section>
</SiteLayout>
