---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<button
  class:list={[
    className,
    'h-8 flex items-center gap-x-2 pl-5 pr-2.5 bg-warning rounded-full',
    'text-neutral'
  ]}
>
  <slot />
  <span class="size-[1.125rem] grid place-items-center bg-neutral rounded-full">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-3 h-2 fill-none stroke-[1.25] stroke-warning"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M10.667 4H1.333M7.75 6.917S10.667 4.769 10.667 4c0-.769-2.917-2.917-2.917-2.917"
      ></path>
    </svg>
  </span>
</button>
