---
import { Content, frontmatter } from '@/data/cta.md'
import styles from '@/styles/CallToAction.module.css'
import Image from './Image.astro'

interface Step {
  icon: string
  description: string
}
---

<section class={styles.container}>
  <Content />
  <div class={styles.steps}>
    {
      frontmatter.steps.map(({ icon, description }: Step, index: number) => (
        <>
          {index !== 0 && (
            <img
              src="/icons/chevron.svg"
              alt=""
              width="6"
              height="12"
              loading="lazy"
            />
          )}
          <article>
            <figure>
              <Image src={icon} loading="lazy" />
            </figure>
            <p set:html={description.replace('\n', '<br>')} />
          </article>
        </>
      ))
    }
  </div>
  <h3>Requisitos</h3>
  <ul>
    {
      frontmatter.requirements.map((requirement: string) => (
        <li>{requirement}</li>
      ))
    }
  </ul>
</section>
