---
import Image from './Image.astro'
import SocialMedia from './SocialMedia.astro'

const data = [
  ['mobile', '(+598) 091 866 454'],
  ['phone', '(+598) 2605 4699'],
  ['mail', 'contacto@enlamano.com.uy']
]
---

<footer
  class:list={[
    'grid gap-15 py-14 px-5 text-sm text-primary sm:px-10 lg:px-20 lg:flex',
    'lg:justify-between xl:justify-evenly'
  ]}
>
  <section class="font-semibold">
    <nav class="grid gap-y-4 gap-x-16 sm:grid-cols-[max-content_1fr]">
      <a class="underline hover:opacity-90" href="/terminos-y-condiciones">
        Términos y Condiciones
      </a>
      <a
        class="underline hover:opacity-90 sm:row-start-2"
        href="/preguntas-frecuentes"
      >
        Preguntas frecuentes
      </a>
      <a class="underline hover:opacity-90" href="/politicas-de-privacidad">
        Políticas de Privacidad
      </a>
      <a class="underline hover:opacity-90" href="/politicas-de-seguridad">
        Políticas de Seguridad
      </a>
      <a class="underline hover:opacity-90" href="/normas-unit">
        Normas Unit
      </a>
    </nav>
  </section>
  <section>
    <div class="grid gap-16 md:flex md:items-end">
      <div
        class:list={[
          'flex flex-col gap-y-4 gap-x-14 sm:grid',
          'sm:grid-cols-[max-content_1fr]'
        ]}
      >
        {
          data.map(([icon, label]) => {
            const isMail = icon === 'mail'
            const Element = isMail ? 'a' : 'p'

            return (
              <Element
                class:list={[
                  'grid grid-cols-[20px_1fr] items-center gap-x-3',
                  { 'col-start-2 row-start-1 hover:underline': isMail }
                ]}
                href={isMail ? 'mailto:contacto@enlamano.com.uy' : undefined}
              >
                <Image class="justify-self-center" src={`/icons/${icon}.svg`} />
                {label}
              </Element>
            )
          })
        }
        <SocialMedia />
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    background: linear-gradient(88deg, #cbcbcb -19.5%, #f4f4f4 122.5%);
  }
</style>
