---
import { marked } from 'marked'
import Input from './Input.astro'
import Button from './Button.astro'

interface Props {
  content: string
}

const { content } = Astro.props
---

<section
  class:list={[
    'relative m-5 p-8 bg-neutral rounded-3xl text-primary',
    '[&_strong]:font-extrabold [&_strong]:text-[2.5rem]/none',
    'sm:max-w-[21rem] sm:ml-auto sm:mr-10 xl:mr-15'
  ]}
>
  <h2 class="mb-4 leading-none">Solicitá efectivo</h2>
  <Fragment set:html={marked.parse(content, { breaks: true })} />
  <form class="mt-11 font-manrope">
    <Input type="number" placeholder="Cédula (sin puntos ni guiones)" />
    <Input
      class="mt-3 text-warning border-warning outline-warning"
      type="number"
      placeholder="Celular"
    />
    <label
      class:list={[
        'mt-5 mb-9 grid grid-flow-col gap-x-2 font-medium text-[0.625rem]',
        'text-primary/85'
      ]}
    >
      <input
        class:list={[
          'mt-0.5 appearance-none size-3 bg-contain border border-primary',
          'rounded checked:bg-[url(/icons/check.svg)]'
        ]}
        type="checkbox"
      />
      <span>
        Leí y acepto los <a
          class="inline-flex font-semibold underline hover:opacity-90"
          href="/terminos-y-condiciones"
        >
          Términos y Condiciones
        </a> y
        <a
          class="inline-flex font-semibold underline hover:opacity-90"
          href="/politica-de-privacidad"
        >
          Política de Privacidad
        </a>. Sujeto a aprobación política
      </span>
    </label>
    <Button>Solicitar efectivo</Button>
  </form>
</section>
