---
import IconMenu from './IconMenu.astro'
import Logo from './Logo.astro'
import Image from './Image.astro'
import SocialMedia from './SocialMedia.astro'

interface Props {
  sticky?: boolean
}

const { sticky } = Astro.props
const { pathname } = Astro.url
const isPromo = pathname.startsWith('/promo/')
const links = isPromo
  ? [
      ['/promociones', 'Promociones'],
      ['/contacto', 'Contacto']
    ]
  : [
      ['/', 'Inicio'],
      ['/promociones', 'Promociones'],
      ['/quienes-somos', 'Quiénes somos'],
      ['/reclamos', 'Reclamos'],
      ['/preguntas-frecuentes', 'Preguntas frecuentes'],
      ['/contacto', 'Contacto']
    ]
---

<header
  class:list={[
    sticky ? 'sticky top-0 bg-linear-gradient bg-fixed' : 'absolute w-full',
    'z-10 p-5 sm:py-7 sm:px-10 xl:px-15'
  ]}
>
  <nav
    class:list={[
      'flex justify-between items-center py-3 px-5 rounded-full',
      { 'bg-neutral text-primary scroll-reset': sticky },
      'sm:px-10'
    ]}
  >
    <button class="lg:hidden" id="menu-button">
      <IconMenu />
    </button>
    {
      sticky ? (
        <Logo />
      ) : (
        <Image class="w-auto h-12" src="/assets/logo-light.webp" />
      )
    }
    <ul
      class:list={[
        { 'mr-10 flex-grow justify-end': isPromo },
        'flex gap-x-8 lg:text-sm xl:text-base -lg:absolute -lg:top-full',
        '-lg:inset-x-0 -lg:hidden -lg:flex-col -lg:gap-y-4 -lg:pt-5 -lg:pb-6',
        '-lg:bg-linear-gradient -lg:bg-fixed -lg:text-center -lg:text-lg',
        '-lg:text-neutral'
      ]}
      id="menu"
    >
      {
        links.map(([link, label]) => (
          <li>
            <a
              class={
                link === pathname
                  ? 'font-bold text-warning'
                  : 'transition-colors duration-100 hover:opacity-90'
              }
              href={link}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <SocialMedia neutral={!sticky} animate />
  </nav>
</header>

<script>
  document.getElementById('menu-button')?.addEventListener('click', () => {
    document.getElementById('menu')?.classList.toggle('-lg:hidden')
  })
</script>
