---
interface Props {
  image: string
  label: string
}

const { image, label } = Astro.props
---

<section class="relative h-[25rem]">
  <h1 class="absolute inset-x-5 bottom-6 text-center font-bold text-[2.5rem]">
    {label}
  </h1>
</section>

<style define:vars={{ image: `url(/assets/${image})` }}>
  section {
    background:
      linear-gradient(45deg, #07024a, rgb(63, 11, 121, 0.45), transparent),
      var(--image) center 45%;
    background-size: cover;
  }
</style>
