---
interface Props {
  class?: string
  name?: string
  placeholder?: string
  required?: boolean
}

const { class: className, name, placeholder, required } = Astro.props
---

<div class:list={['relative text-xs', className]}>
  {required && <span class="absolute top-0 left-full">*</span>}
  <select
    class:list={[
      'w-full h-10 px-5 appearance-none bg-transparent border border-primary',
      'rounded-full text-[#a9a9ab] outline-warning'
    ]}
    name={name}
    required={required}
  >
    <option value="" hidden>{placeholder}</option>
    <slot />
  </select>
</div>
