---
interface Props {
  title: string
  class?: string
}

const { title, class: className } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body
    class:list={[
      'bg-primary bg-linear-gradient bg-fixed text-neutral',
      className
    ]}
  >
    <slot />
  </body>
</html>
