---
import db from '@/db'
import SiteLayout from '@/layouts/SiteLayout.astro'
import Hero from '@/components/Hero.astro'
import Promotions from '@/components/Promotions.astro'

const description = db.get<string>('promociones-description', false)
---

<SiteLayout>
  <Hero image="hero-promociones.webp" label="Promociones" />
  {
    description && (
      <p
        class:list={[
          'my-18 mx-5 font-light text-center leading-tight sm:mx-10',
          'lg:max-w-[55rem] xl:mx-auto'
        ]}
      >
        {description}
      </p>
    )
  }
  <Promotions class="my-20" />
</SiteLayout>
